
        <%- include('header') %> <!-- Inclui uma uma p치gina parcial(header) para dentro da p치gina atual -->
        <h2>
            Admin Categorias:
            <a href="/admin/categorias/nova">Nova Categoria</a>
        </h2>
        <div>
            <ul>
                <% categorias.forEach( categoria => { %>
                <li>
                <%- categoria.categoria %> |
                <a href="/admin/categorias/delete/<%- categoria.id %>">Excluir</a>
                <a href="/admin/categorias/editar/<%- categoria.id %>">Editar</a>
                </li> 
                <% }) %>
            </ul>
        </div>
        <%- include('footer') %> <!-- Inclui uma uma p치gina parcial(footer) para dentro da p치gina atual -->